.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.estimates, .expenses, .summary {
    height: calc(100vh - 48px);

    overflow: hidden;
}

h2 {
    margin: 2em auto 0 auto;
}

mat-list, mat-selection-list {
    margin: 0;
    padding: 0;

    overflow: hidden;

    mat-list-item, mat-list-option {
        margin-top: 1em;
        max-width: 100%;
    }
}

@media screen and (max-height: 700px) {
    .estimates, .expenses, .summary {
        overflow-y: scroll;
    }
}


span[matListItemTitle] {
    font-weight: bolder;
    font-size: 1.1em;
}

input {
    width: 95%;

    margin: 0;
    margin-top: 0.3em;
    padding: 0.2em;

    position: relative;
    left: 2px;

    background-color: #191919;
    border: solid 2px rgba(255, 255, 255, 0.81);

    &:focus {
        font-weight: bolder;
        outline-offset: 0;
    }
}